body {
    background-color: brown;
}
div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main {
    width: 100%;
    margin: auto;


}
h1 {
    text-align: center;
    margin-top: 100px;
<<<<<<< HEAD
    color: whitesmoke;

=======
}
p {
dasdasasdasdasdasdasdasd
>>>>>>> 5d2846310fb46e63a9448baca6cbe7d00437072d
}
p {
    text-align: center;
    color: brown;
    background-color: white;
}
img {
    width: 20%;
}
img.gurka {
    width: 10%;
}
img.äpple {
    width: 40%;
}
