body {
    background-color: brown;
}
main {
    width: 30%;
    height: 100%;
    margin: auto;
}
h1 {
    padding-bottom: 0px;
    margin-bottom: -7px;
    margin-right: 30%;
    color: brown;
    background-color: white;
}
p {
    font-family: "Arial", Times, serif;
    text-align: justify;
    color: brown;
    background-color: white;
}

#img1 {
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
}
#img2 {
    width: 200px;
    aspect-ratio: 2/3;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    border: 0.2rem solid black;

}
img.gurka {
}
img.äpple {
    width: 40%;
}
