body {
    background-color: brown;
}
main {
    width: 30%;
    height: 100%;
    margin: auto;
}
h2 {
    margin-right: 20%;
    color: brown;
    background-color: white;
}
p {
    text-align: justify;
    color: brown;
    background-color: white;
}

#img1 {
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
}
#img2 {
    width: 20%;
    aspect-ratio: 2/3;
    float: right;
    margin-left: 20px;

}
img.gurka {
}
img.äpple {
    width: 40%;
}
