body {
  margin: 0;
  padding: 0;
}
h1 {
    background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?");
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 10vh 0;
    font-size: 200px;
    padding-left: 0;
    padding-right: 0;
    color: white;
}

main {
    width: 50%;
    text-align: justify;
    margin: auto;
}
nav {
    background-color: #333333;
}

ul {
  margin: auto;
  width: 50%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}