body {
    /*background-image: url("https://preview.redd.it/i-kept-finding-bad-quality-pinkerton-wallpapers-so-i-just-v0-8rpdqn686hfb1.png?width=1080&crop=smart&auto=webp&s=4ffe8865de2e90156d1beac24e32e9619aa3b919");
    background-size: contain;
    background-repeat: no-repeat;*/
    margin: 0;
    padding: 0;
  }
header{
    background-image: url("https://preview.redd.it/i-kept-finding-bad-quality-pinkerton-wallpapers-so-i-just-v0-8rpdqn686hfb1.png?width=1080&crop=smart&auto=webp&s=4ffe8865de2e90156d1beac24e32e9619aa3b919");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#navbar {
    background-color: #189ccc75;
    backdrop-filter: blur(40px);   
    position: sticky;
    top: 0;

}

ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover:not(.active) {
    background-color: #333333;
}

ul li a.active {
    background-color: #111111;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #189ccc75;
    backdrop-filter: blur(40px);
}
#footer a {
    color: black;
}
#footer :hover {
    background-color: black;
    color: white;
}


h1 {
    text-align: center;
    margin: 0;
    padding: 10vh 0;
    font-size: 15vw;
    padding-left: 0;
    padding-right: 0;
    color: whitesmoke;
}

main {
    width: 50%;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
    color: black;
}

